body{
    margin: 0;
    padding: 0;
}
nav{
    background-color: grey;
    padding: 12px;
}
ul{
    display: flex;
    flex-direction: row;
}
li,a{
    font-size: 20px;
    color: white;
    text-decoration: none;
    list-style: none;
    padding: 3px 4px;
}
h1{
    text-align: center;
}
.container{
    margin: 12px auto;
    padding: 10px;
    max-width: 70%;
}
input,textarea{
    margin: 10px auto;
    padding: 10px;
    width: 50%;
    display: block;
}
button{
    position: absolute;
    right: 32% ;
    margin: 12px auto;
    padding: 10px;
    width: 15%;
    display: block;
}